<h1 class="text-primary">Tableau de bord</h1>
<div class="d-flex flex-row mt-5 mb-5 justify-content-between">

  <section class="card-info d-flex align-items-center justify-content-center rounded-pill shadow">
    <div class="d-flex flex-column align-items-center py-3">
      <span class="text-secondary fs-2">4</span>
      <p class="fw-light m-0">Nombres d'investisseurs</p>
    </div>
  </section>

  <section class="card-info d-flex align-items-center justify-content-center rounded-pill shadow">
    <div class="d-flex flex-column align-items-center py-3">
      <span class="text-secondary fs-2">3 980 €</span>
      <p class="fw-light m-0">Montant totaux investis</p>
    </div>
  </section>

  <section class="card-info d-flex align-items-center justify-content-center rounded-pill shadow">
    <div class="d-flex align-items-center py-3">
      <p class="fw-light text-center m-0">Toutes les souscriptions de vos investisseurs sont finalisées</p>
    </div>
  </section>

</div>
<h1 class="text-primary mb-5">Projet en cours <span class="text-secondary">et à venir</span></h1>
