$btn-font-family: $primary-font;
$btn-padding-y: 0.35rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1.25rem;
$btn-line-height: 1.465rem;
$btn-font-weight: 500;
$btn-border-radius: 50rem;
$btn-transition: color .3s ease-in-out,
                 background-color .3s ease-in-out,
                 border-color .3s ease-in-out,
                 box-shadow .3s ease-in-out;
$btn-focus-width: unset;
$btn-focus-box-shadow: unset;
$btn-border-width: 0.4rem;
$btn-active-box-shadow: 0px 0px 30px rgba($dark, 0.2);
