$pagination-color: $primary;
$pagination-border-width: 0;

$pagination-active-color: $warning;
$pagination-active-bg: unset;

$pagination-hover-color: $primary;
$pagination-hover-bg: unset;

$pagination-focus-bg: unset;
$pagination-focus-box-shadow: unset;
