$pagination-color: $primary;
$pagination-border-width: 0;

$pagination-active-color: $warning;
$pagination-active-bg: none;

$pagination-hover-color: $primary;
$pagination-hover-bg: none;

$pagination-focus-bg: none;
$pagination-focus-box-shadow: none;
