.btn-primary {
  &:hover, &:active {
    background-color: $primary;
  }

  &:hover {
    box-shadow: $btn-shadow-hover;
  }

  &:active {
    box-shadow: $btn-shadow-active;
  }

  a {
    color: $white;
  }
}

.btn-secondary {
  color: $white;
  &:hover, &:active, &:focus {
    background-color: $secondary;
    color: $white;
  }

  &:hover {
    box-shadow: $btn-shadow-hover;
  }

  &:active {
    box-shadow: $btn-shadow-active;
  }
}

.btn-outline-secondary {
  color: $dark;
  background-color: $white;
  border: 0.4rem solid $secondary;

  &:hover, &:active, &:focus {
    background-color: $white;
    color: $dark;
  }

  &:hover {
    box-shadow: $btn-shadow-hover;
  }

  &:active {
    box-shadow: $btn-shadow-active;
  }

  a {
    color: $dark;
  }
}

.btn-outline-warning {
  color: $white;
  background-color: $primary;

  &:hover, &:active, &:focus {
    background-color: $primary;
    color: $white;
  }

  &:hover {
    box-shadow: $btn-shadow-hover;
  }

  &:active {
    box-shadow: $btn-shadow-active;
  }
}
