.btn-primary {
  &:hover, &:active {
    background-color: $primary;
  }
}

.btn-secondary {
  color: $white;
  &:hover, &:active, &:focus {
    background-color: $secondary;
    color: $white;
  }
}

.btn-outline-secondary {
  color: $dark;
  background-color: $white;
  border: 0.4rem solid $secondary;

  &:hover, &:active, &:focus {
    background-color: $white;
    color: $dark;
  }
}

.btn-outline-warning {
  color: $white;
  background-color: $primary;

  &:hover, &:active, &:focus {
    background-color: $primary;
    color: $white;
  }
}
